. {
  box-sizing: border-box;
}

body {
  display: inline-block;
  width: 100%;
  margin: 1em;
  padding: 1em;
}

article {
  float: left;
  width: 30%;
  border: 1px solid lightblue;
}


h2 {
  border: 1px dotted lightgrey;
  text-align: center;
}

section img {
  width: 70%;
}

img {
  display: block;
  margin: auto;
}

section img + p {
  margin: 1em;
  text-align: justify;
}

 section h4 ~ p {
  font-weight: bold;
}

section img + p + p {
  width: 100%;
  margin: 0 auto;
  background-color: darkgrey;
  color: yellow;
}
